<%= simple_form_for([@operator, @movement],
                    url: operator_movements_path(@operator),
                    html: { class: 'form-inline' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-groups">
    <%= f.input :monto %>

    <%= f.button :submit, 'Agregar' %>
  </div>
<% end %>
