<table class="table">
  <thead>
    <tr>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td class="peso"><%= movement.monto %></td>
        <td><%= link_to 'Detalles', movement %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total: <b class="peso"><%= @movements.pluck(:monto).reduce(:+)%></b></td>
    </tr>
  </tbody>
</table>
