<h1>Editar</h1>

<%= render partial: 'form', locals: { operators: @operators } %>

<%= link_to 'Detalles', [@invoice.operator_namespace, @invoice] %> |
<%= link_to 'Volver', [@invoice.operator_namespace, :invoices] %>
