<p id="notice"><%= notice %></p>

<h1>Ventas</h1>

<%= render partial: 'invoices', locals: { operators: @operators } %>

<%= link_to 'Nueva Venta', new_retailers_invoice_path,
  class: 'btn btn-primary' %>

